<!DOCTYPE html>
<html lang="en" class="no-js">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Taruni Weds Uday</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="We Are Getting Married" />
  <meta name="keywords" content="Love For Eternity" />
  <meta name="author" content="SEERAM SANDEEP" />
  <link rel="shortcut icon" href="/assets/images/Icons/favicon.ico">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/main.css" type="text/css">


  <script src="js/google_analytic.js"></script>
  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="js/modernizr.custom.js"></script>
</head>

<body>
  <!-- Loading animation -->
  <div class="text-selection-disable">
    <div class="preloader">
      <div class="preloader-animation">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>

    <div id="main-container">
      <!-- Header -->
      <header id="header" class="header">
        <div class="container clearfix">
          <div class="logo-container">
            <div class="header-logo">Taruni <span class="main-color">Weds</span> Uday</div>
          </div>

          <div class="header-date mobile-hidden">
            <p>Friday, 10 <span class="main-color">February</span> 2023</p>
          </div>
          <a class="menu-toggle mobile-visible">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </header>
      <!-- /Header -->

      <!-- Site Navigation -->
      <nav class="main-nav mobile-menu-hide">
        <div class="container">
          <ul class="nav navbar-nav">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#wedding-day">Our Day</a>
            </li>
            <li>
              <a href="#story">Our Story</a>
            </li>
            <li>
              <a href="#events">Wedding Events</a>
            </li>
            <li>
              <a href="#live-wedding">Live Wedding</a>
            </li>
            <li>
              <a href="#invitation">Invitation Card</a>
            </li>
            <li>
              <a href="#rsvp">Wishes</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /Site Navigation -->

      <div class="sections">
        <!-- Home Section -->
        <section id="home" class="home-section clearfix">
          <div id="hs-image-block" class="hs-image-block"
            style="background-image: url(/assets/images/main_photo_1.jpg); background-attachment: fixed; background-position: 50% 0;"
            data-stellar-background-ratio="0.3">
            <div class="hs-mask"></div>
          </div>

          <div class="hs-main-content container">
            <div class="hs-section-title">
              <h1>We’re Getting Married</h1>
            </div>

            <div class="about-us clearfix">
              <div class="about-us-block first-block">
                <div class="top-block">
                  <div class="name">
                    <h2>Uday</h2>
                    <p>Pavan</p>
                    <ul class="social-links">
                      <li><a class="tip social-button"><i class="fa fa-heart"></i></a></li>
                      <!-- Full list of social icons: http://fontawesome.io/icons/#brand -->
                      <li><a class="tip social-button"><i class="fa fa-heart-o"></i></a></li>
                      <li><a class="tip social-button"><i class="fa fa-heart"></i></a></li>
                      <!--<li><a class="tip social-button" href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>-->
                      <!--<li><a class="tip social-button" href="#" title="last.fm"><i class="fa fa-lastfm"></i></a></li>-->
                      <!--<li><a class="tip social-button" href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>-->
                    </ul>
                  </div>

                  <div class="photo">
                    <img src="/assets/images/photo_1.jpg" alt="">
                  </div>
                </div>
                <div class="bottom-block">
                  <p>Nulla eros eros, tincidunt in tempor vitae, pellentesque non mi. Mauris eu molestie lacus, eget
                    dictum orci. Etiam semper mauris neque, in posuere lacus varius.</p>
                </div>
              </div>

              <div class="heart">
                <img src="/assets/images/heart_img.png" alt="">
              </div>

              <div class="about-us-block second-block">
                <div class="top-block">
                  <div class="name">
                    <h2>Taruni</h2>
                    <p>Lakshmi</p>
                    <ul class="social-links">
                      <li><a class="tip social-button"><i class="fa fa-heart"></i></a></li>
                      <!-- Full list of social icons: http://fontawesome.io/icons/#brand -->
                      <li><a class="tip social-button"><i class="fa fa-heart-o"></i></a></li>
                      <li><a class="tip social-button"><i class="fa fa-heart"></i></a></li>
                      <!--<li><a class="tip social-button" href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>-->
                      <!--<li><a class="tip social-button" href="#" title="last.fm"><i class="fa fa-lastfm"></i></a></li>-->
                      <!--<li><a class="tip social-button" href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>-->
                    </ul>
                  </div>

                  <div class="photo">
                    <img src="/assets/images/photo_2.jpg" alt="">
                  </div>
                </div>
                <div class="bottom-block">
                  <p>Nulla eros eros, tincidunt in tempor vitae, pellentesque non mi. Mauris eu molestie lacus, eget
                    dictum orci. Etiam semper mauris neque, in posuere lacus varius.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /Home Section -->

        <!-- Our Day Section -->
        <section id="wedding-day" class="wedding-day section-boxed">
          <div class="container">
            <div class="section-title">
              <h2>Friday, 10 <span class="main-color">February</span> 2023</h2>
            </div>
            <!-- Counter -->
            <div id="count" class="count">
              <!-- You can edit HTML code of this block in the js/main.js -->
            </div>
            <!-- Counter -->

            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id tellus pretium quam
              sodales luctus. Nunc nec lacus ac arcu iaculis accumsan dictum a nulla. Nullam malesuada pellentesque
              turpis, eu elementum risus sagittis in. Nunc sit amet arcu justo.</p>
            <center>
              <a class="button small-button sbtn" target="_blank"
                href="https://calendar.google.com/calendar/u/0/r/eventedit/MXVyOHRxaTExaGJpcm9sZjA1a25hZHQyYmggc2VlcmFtODdAbQ">
                Save The Date</a>
            </center>
          </div>

        </section>
        <!-- /Our Day Section -->

        <!-- Our Story Section -->
        <section id="story" class="our-story section-boxed section-bg-color">
          <div class="container">
            <div class="section-title">
              <h2>Our Story</h2>
            </div>
            <!-- Story Row 1 -->
            <div class="row story-row">
              <div class="col-sm-12 col-md-5 story-block text-center">
                <div class="story-image scale-image-effect">
                  <img src="/assets/images/story_photo_1.jpg" class="rounded-circle" alt="">
                </div>
              </div>
              <div class="col-sm-12 col-md-2 story-block text-center">
                <div class="story-date">
                  <div class="year">2023</div>
                  <div class="month">Aug</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-5 story-block text-center">
                <h3>Morbi dapibus enim mollis</h3>
                <p>Maecenas vestibulum volutpat nisl. Nulla faucibus, quam eget auctor vulputate, elit ante commodo
                  erat,
                  et pretium purus massa et nunc. Duis vitae nisl eget metus gravida maximus non mattis nunc. Etiam
                  posuere sodales mollis. Donec viverra egestas lorem, at varius sem congue quis.</p>
              </div>
              <div class="vertical-line"></div>
            </div>
            <!-- /Story Row 1 -->

            <!-- Story Row 2 -->
            <div class="row story-row">
              <div class="col-sm-12 col-md-5 col-md-push-7 story-block text-center">
                <div class="story-image scale-image-effect">
                  <img src="/assets/images/story_photo_2.jpg" alt="">
                </div>
              </div>
              <div class="col-sm-12 col-md-2 story-block text-center">
                <div class="story-date">
                  <div class="year">2022</div>
                  <div class="month">Sep</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-5 col-md-pull-7 story-block text-center">
                <h3>Sed vitae eros nisl</h3>
                <p>Maecenas vestibulum volutpat nisl. Nulla faucibus, quam eget auctor vulputate, elit ante commodo
                  erat,
                  et pretium purus massa et nunc. Duis vitae nisl eget metus gravida maximus non mattis nunc. Etiam
                  posuere sodales mollis. Donec viverra egestas lorem, at varius sem congue quis.</p>
              </div>
              <div class="vertical-line"></div>
            </div>
            <!-- /Story Row 2 -->

            <!-- Story Row 3 -->
            <div class="row story-row">
              <div class="col-sm-12 col-md-5 story-block text-center">
                <div class="story-image scale-image-effect">
                  <img src="/assets/images/story_photo_1.jpg" alt="">
                </div>
              </div>
              <div class="col-sm-12 col-md-2 story-block text-center">
                <div class="story-date">
                  <div class="year">2022</div>
                  <div class="month">Feb</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-5 story-block text-center">
                <h3>Sed scelerisque</h3>
                <p>Maecenas vestibulum volutpat nisl. Nulla faucibus, quam eget auctor vulputate, elit ante commodo
                  erat,
                  et pretium purus massa et nunc. Duis vitae nisl eget metus gravida maximus non mattis nunc. Etiam
                  posuere sodales mollis. Donec viverra egestas lorem, at varius sem congue quis.</p>
              </div>
              <div class="vertical-line"></div>
            </div>
            <!-- /Story Row 3 -->

          </div>
        </section>
        <!-- /Our Story Section -->

        <!-- Wedding Events Section -->
        <section id="events" class="our-story section-boxed">
          <div class="container">
            <div class="section-title">
              <h2>Wedding Events</h2>
              <p class="intro">To our friends and family: We're so excited to celebrate our wedding with you. Find all
                the
                details you need to know about our big day here.</p>
            </div>

            <div class="row">
              <!-- Mehandi Night Block -->
              <div class="col-md-6 event-block">
                <div class="event-photo scale-image-effect">
                  <img src="/assets/images/mehndi_night.jpg" class="rounded" alt="">
                </div>

                <div class="event-title">
                  <h3>Mehndi Night</h3>
                </div>
                <div class="event-info">
                  <div class="event-date"><i class="fa fa-calendar"></i> Friday, 8 February 2023</div>
                  <div class="event-time"><i class="fa fa-clock-o"></i> 7:00 PM - 12:00 PM</div>
                  <div class="main">
                    <div class="event-address"><i class="fa fa-map-marker"></i> PNR Colony, Road No: 20
                      Abdul Kalam Homes, <br>
                      Narendra Reddy Colony, Ameenpur, <br>
                      Plot No.: 410 & 411, 502032</div>
                  </div>
                  <a class="button small-button" target="_blank" href="https://goo.gl/maps/yfbXAcQcxUWzvPYi8"
                    title="The Ceremony">View on Map</a>
                  <!-- Do not change 'https://maps.google.com/maps?q=' in the href, simply change the address. Remake "221B Baker Street, London, United Kingdom +", as example, in this form: "221B+Baker+Street,+London,+United+Kingdom". -->
                </div>



              </div>
              <!-- /Mehandi Night Block -->

              <!-- Haldi Block -->
              <div class="col-md-6 event-block">
                <div class="event-photo scale-image-effect">
                  <img src="/assets/images/haldi_party.jpg" alt="">
                </div>

                <div class="event-title">
                  <h3>Haldi Party </h3>
                </div>

                <div class="event-info">
                  <div class="event-date"><i class="fa fa-calendar"></i> Friday, 9 February 2023</div>
                  <div class="event-time"><i class="fa fa-clock-o"></i> 8:00 AM </div>
                  <div class="main">
                    <div class="event-address"><i class="fa fa-map-marker"></i> PNR Colony, Road No: 20
                      Abdul Kalam Homes, <br>
                      Narendra Reddy Colony, Ameenpur, <br>
                      Plot No.: 410 & 411, 502032</div>
                  </div>
                  <a class="button small-button mfp-iframe" target="_blank" href="https://goo.gl/maps/yfbXAcQcxUWzvPYi8"
                    title="The Ceremony">View on Map</a>
                  <!-- Do not change 'https://maps.google.com/maps?q=' in the href, simply change the address. Remake "221B Baker Street, London, United Kingdom +", as example, in this form: "221B+Baker+Street,+London,+United+Kingdom". -->
                </div>
              </div>
              <!-- /Haldi Block -->

              <!-- Bride Function Block -->
              <div class="col-md-6 event-block">
                <div class="event-photo scale-image-effect">
                  <img src="/assets/images/Bridal.gif" alt="">
                </div>

                <div class="event-title">
                  <h3>Bride Function</h3>
                </div>

                <div class="event-info">
                  <div class="event-date"><i class="fa fa-calendar"></i> Friday, 10 February 2023</div>
                  <div class="event-time"><i class="fa fa-clock-o"></i> 8:00 AM - 1:00 PM</div>
                  <div class="main">
                    <div class="event-address"><i class="fa fa-map-marker"></i> PNR Colony, Road No: 20
                      Abdul Kalam Homes, <br>
                      Narendra Reddy Colony, Ameenpur, <br>
                      Plot No.: 410 & 411, 502032</div>
                  </div>
                  <a class="button small-button" target="_blank" href="https://goo.gl/maps/yfbXAcQcxUWzvPYi8"
                    title="The Ceremony">View on Map</a>
                  <!-- Do not change 'https://maps.google.com/maps?q=' in the href, simply change the address. Remake "221B Baker Street, London, United Kingdom +", as example, in this form: "221B+Baker+Street,+London,+United+Kingdom". -->
                </div>
              </div>
              <!-- /Bride Function Block -->

              <!-- Muhurtham Block -->
              <div class="col-md-6 event-block">
                <div class="event-photo scale-image-effect">
                  <img src="/assets/images/Wedding.jpg" alt="">
                </div>

                <div class="event-title">
                  <h3>Muhurtham</h3>
                </div>

                <div class="event-info">
                  <div class="event-date"><i class="fa fa-calendar"></i> Friday, 10 February 2023</div>
                  <div class="event-time"><i class="fa fa-clock-o"></i> 9:15 PM</div>
                  <div class="main">
                    <div class="event-address"><i class="fa fa-map-marker"></i> Farm Air, Plot No 40,
                      Countryhomes, Upparpally, <br>
                      Shamirpet, Hyderabad, <br>
                      Telangana 500078</div>
                  </div>
                  <a class="button small-button"
                    href="https://www.google.com/maps/place/Farmair/@17.5758225,78.5957104,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb835979f8e89b:0x1694734139229c35!8m2!3d17.5758225!4d78.5978991"
                    target="_blank" title="The Ceremony">View On Map</a>
                  <!-- Do not change 'https://maps.google.com/maps?q=' in the href, simply change the address. Remake "2 Baker Street, London, United Kingdom +", as example, in this form: "2+Baker+Street,+London,+United+Kingdom". -->
                </div>
              </div>
              <!-- /Muhurtham Block -->
            </div>
          </div>
        </section>
        <!-- /Wedding Events Section -->

        <!-- Wedding Live Video -->
        <section id="live-wedding" class="rsvp section-boxed">
          <div class="container">
            <div class="section-title">
              <h2>Our Live Wedding</h2><br>
            </div>
            <div class="embed-responsive embed-responsive-16by9" hoverable>
              <!-- <iframe class="embed-responsive-item frameborder=0 " src="/Wedding-Invitation.pdf" frameborder="0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe> -->

                <!-- <video class="myVideo" controls loop>
                  <source src="/coming-soon.mp4" type="video/mp4">
                </video> -->

                <img src="/assets/coming-soon.gif" alt="coming-sson">

            </div><br>
            <p>Want to watch on YouTube? <a target="_blank" rel="noopener noreferrer"
                href="https://www.youtube.com/watch?v=W2IERghmzaI"><span>Click</span>&nbsp<span>here</span></a></p>
        </section>
        <!-- /Wedding Live Video -->

        <!-- Invitation -->
        <section id="invitation rvsp" class="rsvp section-boxed">
          <div class="container">
            <div class="section-title">
              <h2>Invitation Card</h2><br>
            </div>

            <div id="invitation" class="container img-container">
              <div class="img-overlay">
                <img src="assets/images/invitation/Wedding-Invitation.png" alt="invitation card">

                <div class="card row">
                  <div class="card-title col-6 text-truncate mx-auto">
                    <p>T & U</p>
                  </div><br>
                  <div class="card-sub-title col-md-auto col-mb-auto col-6 text-truncate mx-auto">
                    <i class="fa fa-heart pink-heart"></i>
                    Love chose us, And We chose you to be a special guest at our wedding
                    <i class="fa fa-heart pink-heart"></i>
                  </div><br>
                  <a href="/invitation"><button
                      class="button small-button card-btn col-6 text-truncate mx-auto">View</button></a>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- /Invitation -->

        <!-- Wishes Section -->
        <section id="rsvp" class="rsvp section-boxed">
          <div class="container">
            <div class="section-title">
              <h2>Your Lovely Wishes</h2>
              <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id tellus pretium quam
                sodales
                luctus. Nunc nec lacus ac arcu iaculis accumsan dictum a nulla. Nullam malesuada pellentesque turpis, eu
                elementum risus sagittis in. Nunc sit amet arcu justo.</p>
            </div>

            <div class="row">
              <!-- Wishes Form -->
              <form id="rsvp-form" class="rsvp-form" method="post" action="send">
                <div class="col-md-12">
                  <!-- <div class="messages"></div> -->
                  <h3 class="text-center text-success">
                    {{successmsg}}
                  </h3>
                </div>
                <div class="controls">
                  <div class="col-sm-12 col-md-12 ">
                    <div class="form-group">
                      <input id="name" type="text" name="name" class="form-control" placeholder="Your Good Name"
                        required="required" data-error="Name is required." required>
                      <i class="form-control-icon fa fa-user"></i>
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group message-group">
                      <textarea id="message" name="message" class="form-control"
                        placeholder="Leave Your Lovely Wishes" rows="2" required="required"
                        data-error="Please, leave a wishes."></textarea>
                      <i class="form-control-icon fa fa-comment"></i>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 text-center">
                    <input type="submit" name="submit" class="button btn-send disabled" id="btn" value="Submit">
                  </div>
                </div>
              </form>
              <!-- /Wishes Form -->
            </div>
          </div>
        </section>
        <!-- /Wishes Section -->

        <!-- Footer (Thank You block) -->
        <footer id="thanks" class="footer">
          <div id="footer-image-block" class="footer-image-block"
            style="background-image: url(/assets/images/footer_photo.jpg); background-attachment: fixed; background-position: 50%;"
            data-stellar-background-ratio="0.3">
            <div class="footer-mask"></div>
          </div>

          <div class="footer-title">
            <h2>Thank You!</h2>
            <div class="heart-divider animation delay1 fadeInUp animated" style="visibility: visible">
              <span class="white-line"></span>
              <!-- <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i> -->
              <i class="fa fa-heart pink-heart"></i>
              <i class="fa fa-heart white-heart"></i>
              <span class="white-line"></span>
              <div id="footer-couple-name" class="animation delay1 fadeInUp animated" style="visibility: visible;">
                TARUNI &amp; UDAY
              </div>
            </div>

          </div>
        </footer>
        <!-- /Footer (Thank You block) -->

      </div>

    </div>
  </div>


  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/validator.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.countdown.js"></script>
  <script src="js/jquery.malihu.PageScroll2id.min.js"></script>
  <script src="js/main.js"></script>

  <!--Audio Tags-->
  <audio-player data-src="song.mp3"></audio-player>
  <!-- JS CDN -->



  <!-- SMTP.JS CDN -->
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <!-- Disable Inspect Element -->
  <script src="/js/disableInspectElement.js"></script>

</body>


</html>